<%= render "header"%>

<h1 class="mx-3">詳細</h1>

<div class ="p-2 mb-2 mx-5">
  <h2 class="panel-title fs-4">
    <%= @product.name %> 
  </h2>

  <p class="border p-2 fs-4">
    <%= @product.content %>  
  </p>
  <div>
    <%= link_to "編集", edit_product_path(@product) , class:"btn btn-primary mb-2 btn-lg"%>
    <%= link_to "もどる", products_path, class:"fs-3"%>
    <%= button_to "削除", @product, method: :delete, data: { turbo_confirm: "Are you sure?" } , class: "btn btn-danger mb-2 mx-6"%>
  </div>
  

